<p>form works!</p>
<!-- <form #f="ngForm">
    <label> id</label>
    <input type="text" name="id"  ngModel required minlength="3" #t="ngModel">
    <label> name</label>
    <input type="text" name="name" ngModel>
    <label> descrip </label>
    <input type="text" name=" description" ngModel>
    <input type="submit" value="save" (click)="" [disabled]="f.invalid">
</form> -->
<form #f="ngForm">
    <label> first name </label>
    <input name ="First name " />
    <label> last name </label>
    <input name ="Last name " />
    <label> BirthDate</label>
    <input name ="Birth Date " type="date" />
    <label> Email</label>
    <input name ="Email" />
    <label> password </label>
    <input name ="password " />
    <label> PROFESSION </label>
    <input name ="PROFESSION" />
    
    
</form>